.theme-dark {
    --dark-text: #292929;
    --light-text: #F9F8F8;  
    --dark-background: #2F4550;
    --light-background: #586F7C;
    --accent: #B8DBD9;
    --button-border: #B8DBD9;
  }

  .theme-light {
    --dark-text: #5E4B56;
    --light-text: #5E4B56;
    --dark-background: #DBE7E4;
    --light-background: #EDDCD2;
    --accent: #DBE7E4;
    --button-border: #5E4B56;
  }

  html, #root {
    background-color: var(--dark-background);
    color: var(--dark-text);
  }
  
  nav {
    background-color: var(--dark-background);
    color: var(--light-text);
  }
  
  .main-container {
    background-color: var(--light-background);
  }

*, form > pre , form > div > label, form > div > label > pre {
      color: var(--light-text);
  }